<!--
/* */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iksula_RaidAndFir::data" title="RaidAndFir Data" module="Iksula_RaidAndFir" sortOrder="75" resource="Iksula_RaidAndFir::data"
             action="sample/data/index"/>
    </menu>
</config>